@using MVCBase.ViewModels
@model P0010ListViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>P0020.Index</title>
</head>
<body style="background-color:#e8fcfc">
    P0020.Index 多筆清單 | CRUD 作業 (自行整合jQuery.Valicaion.unobtrusive)
    <hr />
    <div style="background-color:#f6f6e5;">
        <a href="~/P0020/Create">新增</a>&nbsp; | &nbsp; <a href="~/Static/jQueryValidationUnobtrusive.html?20160920-20">示範jQuery.Valicaion.unobtrusive</a><br />
        <br />

        班級: @Model.msName <br />
        <table border="1" cellpadding="4" cellspacing="0">
            <tr>
                <th>功能</th>
                <th>學號</th>
                <th>姓名</th>
                <th>國文</th>
                <th>英文</th>
                <th>總分</th>
                <th>平均</th>
            </tr>
            @foreach (P0010ViewModel item in Model.mList)
            {
                <tr>
                    <td><a href="~/P0020/Update/@item.ms1">修改</a>&nbsp;|&nbsp;<a href="~/P0020/Delete/@item.ms1">刪除</a></td>
                    <td><a href="~/P0020/Read/@item.ms1">@item.ms1</a></td>
                    <td>@item.ms2</td>
                    <td>@item.mi1</td>
                    <td>@item.mi2</td>
                    <td>@item.miSum</td>
                    <td style="background-color:@item.msColor">@item.mi1Extra</td>
                </tr>
            }
        </table>
        若平均低於60分, 則為紅色, 否則為綠色.
    </div>
    <hr />
    <a href="http://www.luckstar.com.tw">LuckStar Computer Inc.</a> | 執行時間=@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.fff")
</body>
</html>


